$mainOrange: #EA6E06;
$mainGrey: #AAAAAA;
$secondGrey: #ddd;
$thirdGrey: #eee;
$brightCyan: rgb(107, 234, 255);
$borderCyan: rgba(8, 134, 152, 0.2);
$textCyan: rgba(8, 134, 152, 0.56);
$textCyanLight: rgba(43, 194, 216, 0.56);
$bgCyan: rgba(116, 222, 241, 0.52);
$bgPostit: rgba(251, 255, 195, 0.6);