@import 'mixins';
@import 'variables';
@import './components/header.scss';
@import './components/grid.scss';
@import './components/project.scss';

body {
	background: url(/assets/img/bg_body_left_small.png) repeat-y left top, url(/assets/img/bg_body_right_small.png) repeat-y right top;
	font-size: 13px;
	@include defaultFont;
}

a {
	color: $mainOrange;
	&:hover{
		color: $mainOrange;
		text-decoration: none;
	}
}

footer {
	border-top: 1px solid #eee;
	color: #aaa;
	text-align: right;
	font-size: 28px;
	padding: 20px 0;
	margin-top: 50px;
	//font-family: 'League Script', cursive;
	@include reenie;
	font-weight: 400;
	a {
		font-weight: bold;
	}

	p {
		margin-bottom: 0;
	}
}

.site-container {
	width: 1024px;
}

.page-category, .page-home {
	h2 {
		color: $mainOrange;
	}
}

.ui-tooltip {
	padding: 5px;
	position: absolute;
	z-index: 9999;
	max-width: 500px;
	background: darken($bgCyan, 30);
	color: white;
}

body .ui-tooltip {
	border-width: 2px;
}

.ui-helper-hidden-accessible {
	display: none;
}